.products__wrapper { 
    position: relative;
    /* background-color: var(--first-brand-color); */
    /* background-image: url('https://img.besthqwallpapers.com/Uploads/18-4-2020/128995/green-leaves-texture-background-with-green-leaves-ecology-environment-green-leaves.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.products {
    text-align: center;
    padding: 20rem 0;
    position: relative;
    z-index: 2;
}
.products .container {
    position: relative;
}
.products__title {
    font-family: var(--title-font);
    font-size: 5rem;
}
.sub-title__box {
    position: relative;
    margin-bottom: 3rem;
    max-width: 140rem;
    margin-left: auto;
    margin-right: auto;
}
.prod__title {
    font-size: 5rem;
    margin-bottom: 4rem;
    font-family: var(--title-font);
}
.success-message {
    background-color: var(--success);
    font-family: var(--title-font);
    padding: 2rem 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    margin-bottom: 2rem;
    text-align: center;
}
.success-message > * {
    font-family: inherit;
    font-size: inherit;
}
.success-message--active {
    opacity: 1;
    visibility: visible;
}
.products .sub-title {
    margin-bottom: 0;
    padding-bottom: 2rem;
}
.products .item {
    position: relative;
    padding-top: 5rem;
}
.product__block {
    padding: 2rem;
    position: relative;
    transition: all .3s ease-in-out;
    max-width: 50rem;
    margin: 0 auto;
}

.product__img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: var(--main-bg-color);
    width: 100%;
    max-width: 100%;
}

.product__img-box .img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 20rem;
    max-height: 20rem;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.product__text-box {
    margin-bottom: 1rem;
}
.product__name {
    font-size: 2rem;
    display: block;
}

.product__price {
    font-size: 2.3rem;
    display: block;
    font-family: var(--title-font);
}

.product__btn {
   font-size: 2rem;
   text-transform: uppercase;
}

.product__link {
    font-size: 1.6rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.product__link svg {
   display: block;
   margin-left: 1rem;
   width: 1.8rem;
   height: 2rem;
}

.product__sub-img {
    display: block;
    width: 100%;
    height: 10rem;
    max-height: 10rem;
    object-fit: contain;
}
.mySwiper {
    display: none;
}
.swiper-button-next span,
.swiper-button-prev span {
   display: none;
}
@media screen and (min-width: 1440px) { 
    .product__link:hover {
       background-color: var(--second-brand-color);
    }
    .products__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .swiper__wrapper {
        /* background-color: rgba(255, 0, 0, .2);  */
        position: relative;
    }
    .mySwiper {
        display: block;
        height: calc(100% - 2rem);
        width: 18rem;
        /* background-color: orange; */
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    .mySwiper2 {
        padding-bottom: 10rem;
        width: calc(100% - 20rem);
        margin-left: auto;
        margin-right: 0;
    }

    .product__img-box .img {
        height: 70rem;
        max-height: 70rem;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        display: none;
    }
   

    .swiper-button-next {
        right: 4rem;
    }
    .swiper-button-prev {
        left: auto;
        right: 30rem;
    }
    .swiper-button-next ,
    .swiper-button-prev  {
       width: 15rem;
       height: 5rem;
       top: auto;
       bottom: 2rem;
    }
    .swiper-button-next span,
    .swiper-button-prev span {
        display: block;
       font-size: 3rem;
       position: absolute;
       top: -1.2rem;
       text-transform: uppercase;
    }
    .swiper-button-next span {
       left: 0;
    }
    .swiper-button-prev span {
        right: 0;
     }
    .swiper-button-next svg,
    .swiper-button-prev svg {
        display: block;
        width: 100%;
        max-height: 15rem;
    }
    .swiper-button-next span::before,
    .swiper-button-prev span::before {
        display: block;
       content: '';
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-40%);
       width: 6rem;
       height: 6rem;
       border-radius: 50%;
       background-color: var(--second-brand-color);
       z-index: -1;
       pointer-events: none;
    }
    .products .item {
        padding-top: 0;
    }
    .product__block {
        padding: 0;
    }
}



