:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #2c9097;
  --second-brand-color: #89d1cf;
  --third-brand-color: #eeeeee;

  --main-font:  'Open Sans';
  --title-font:  'Open Sans SemiBold';
  --main-title-font: 'Anton';

  font-size: 62.5%;
}
